<% layout('layouts/boilerplate') %>

    <head>
        <style>
            .gradient-custom {
                background: linear-gradient(to right bottom, rgb(179, 250, 189), rgb(127, 177, 229));
            }
        </style>
    </head>
    <section class="" style="background-color: #f4f5f7;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-1 mt-4">
                    <div class="card mb-5" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; ">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" alt="Avatar"
                                    class="rounded-circle my-5 img-fluid" style="width: 175px;" />

                                <h4>
                                    <%= data.provider.name %>
                                </h4>
                                <h6>
                                    <%= data.provider.designation %>
                                </h6>
                                <% if(currentUser.username==data.provider.uname) {%>
                                <div class="row">
                                    <% if(!data.provider.Verified) {%>
                                        <div class="d-flex justify-content-center mb-2">
                                            <a href="/getOtp/<%= data.provider._id%>"
                                                class="btn btn-warning fw-bold bg-white col-md-6">Get OTP</a>
                                            <div class="btn-group dropend ps-2 col-md-6">
                                                <button type="button" class="btn btn-danger dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    &nbsp; verify mail
                                                </button>
                                                <form action="/verifyuser/<%= data.provider.uname%>" method="post"
                                                    class="dropdown-menu p-4">
                                                    <div class="mb-3">
                                                        <label for="Report" class="form-label"> Enter OTP</label>
                                                        <input type="text" class="form-control" name="otp" id="OTP"
                                                            placeholder="Enter OTP" required>
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit"
                                                            class="btn btn-success float-end">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                                <% } %> 
                                            <p>&#10003 background checked</p>
                                            <p>&#x2197 high demand</p>
                                            <!-- to add star rating later
                <div class="container">
                    <span id="rateMe1"></span>
                  </div>
                  
                  
                  <script src=""></script> -->

                                </div>
                                <div class="col-md-8">
                                    <div class="card-body ">
                                        <h6>About</h6>
                                        <p>
                                            <%= data.provider.about %>
                                        </p>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Email</h6>
                                                <p class="text-muted">
                                                    <%= data.provider.email %>
                                                </p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Phone</h6>
                                                <p class="text-muted">
                                                    <%= data.provider.phno %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr class="mt-0 mb-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4">
                        <div class="row">
                            <% for( let j=0; j < data.data1.length; j++ ) { %>
                                <div class="">
                                    <a class="cat-item rounded p-4 gradient-custom"
                                        href="/services/<%= data.data1[j]._id %>">
                                        <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
                                        <h6 class="mb-3">
                                            <%= data.data1[j].serviceName %>
                                        </h6>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
    </section>